.h-700{
    height: 700px;
}

.bg-dcdcdc{
    background-color: #dcdcdc;
}

.bg-blend-mode{
    background-color: #0000004d !important; 
    background-blend-mode: darken !important;
}

.background-fixed{
    position: relative !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

#about-us{
    background-image: url(../images/estudiantes-vertical.jpg);
}