{% extends 'layout_footer_nav.html' %}

{% block title %}Page Not Found{% endblock %}

{% block body %}

<div class="w-100 h-100 d-flex">
    <div class="col-8 h-50 p-3 m-auto bg-primary text-white d-flex flex-column align-items-center">

        <h1 class="font-weight-bold my-auto">THIS PAGE DOES NOT EXIST</h1>

        <a href="#" class="my-auto"><img class="img-fluid" src=".\static\images\Tux_Mono.png"></a>

        <a href="/" class="my-auto btn btn-success border-dark">Return to main page</a>
    </div>
</div>
{% endblock %}