{% extends 'layout_footer_nav.html' %}

{% block title %} About Us - TuXchange {% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{{url_for('static', filename='CSS/about_us_style.css')}}">
{% endblock %}

{% block body %}

    <div class="w-100 mb-3 mr-0 ml-0 p-5 text-white align-items-center" id="header">
            <h1 class="mt-3">WE ARE TUXCHANGE</h1>
            <br>
            <h2>committed to education since Unix time 1597679799</h2>
    </div>

    <div class="w-100 d-flex flex-md-row flex-column t-5 pl-3 pr-3 mb-5">
    <div class="col-4 bg-primary text-white rounded-left p-3 mr-2">
        <h1 class="display-3"> ABOUT US </h1>
        <p class="h3"> At EF Education First, we believe that the world is better when people try to understand one another. Since 1965, EF has helped millions of people see new places, experience new cultures, and learn new things about the world and about themselves.

        </p>
    </div>
    <div class="border-right border-dark d-lg"></div>
    <div class="col-8 flex-column d-flex">
        <h2> Academic study </h2>
        <h4>Lorem Ipsum</h4>
        <p> lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet </p>

        <h2> Educational travel </h2>
        <h4>Lorem Ipsum</h4>
        <p> lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet </p>

        <h2> Learn a language </h2>
        <h4>Lorem Ipsum</h4>
        <p> lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet </p>

        <h2> Cultural exchange </h2>
        <h4>Lorem Ipsum</h4>
        <p> lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet </p>
    </div>
</div>

{% endblock %}