{% extends 'layout_footer_nav.html' %}

{% block title %} About Us {% endblock %}

{% block body %}

<div class="w-100 d-flex pt-5 pl-3 pr-3 mb-5">
    <div class="col-4">
        <h1> WHO WE ARE </h1>
        <p> lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet <br>
            lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet <br>
            lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet </p>
    </div>
    <div class="border-right border-dark"></div>
    <div class="col-8 flex-column d-flex">
        <h2> Academic study </h2>
        <h4>Lorem Ipsum</h4>
        <p> lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet </p>

        <h2> Educational travel </h2>
        <h4>Lorem Ipsum</h4>
        <p> lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet </p>

        <h2> Learn a language </h2>
        <h4>Lorem Ipsum</h4>
        <p> lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet </p>

        <h2> Cultural exchange </h2>
        <h4>Lorem Ipsum</h4>
        <p> lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet </p>
    </div>
</div>

{% endblock %}