{% extends 'layout_footer.html' %}

{% block title %}tuxchange{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{{url_for('static', filename='CSS/index_style.css')}}">
{% endblock %}

{% block body %}

<!-- cartelera -->
<div id="cover-page" class="background-fixed h-700 animated fadeInDown">
    <div  class="ml-4 d-flex">
        <img src="../static/images/Tux_Mono.png" alt="logo de tuxchange" class="m-3">
        <h1 class="m-3 text-white">TuXchange</h1>
    </div>

    <div class="d-flex justify-content-center align-items-center p-5 h-75"> 
        <p class=" display-3 text-white">Making unforgettable memories while studying</p> <!-- el colmo -->
    </div>
</div>
<!-- cartelera -->


<!-- seccion de programas -->
<div class="row d-flex justify-content-between h-700">

    <div class="col-5 ml-sm-2 ml-md-3 ml-lg-5 h-100 text-center">
        <p class="display-3 mt-3">Check out our programs</p>
        <p class="h3 text-center mt-md-5">Check out our various exchange align-content-centerprograms designed to suit your academic needs and cultural preferences.</p>
    </div>

    <div class="col-5 bg-primary text-white m-xl-5 gm-lg-4 m-md-3 m-sm-0 pt-5">
        <ul>
            <li class="h4 my-5">promgram for software development students</li>
            <li class="h4 my-5">promgram for tourism and hostelry students</li>
            <li class="h4 my-5">promgram for electrical engineering students</li>
        </ul>
        <a href="#" class="btn btn-lg bg-light float-md-right w-50 rounded-pill">Read more</a>
    </div>

</div>
<!-- seccion de programas -->


<!-- carousel -->
<div class="d-flex justify-content-center text-center mt-5">
    <p class="display-3">Most popular destinations</p>  <!-- titulo carousel -->
</div>
<div class="text-white mb-5">
    <div id="MyCarousel" class="carousel slide" data-ride="carousel"> <!-- data-ride hace que el carousel pase de item automaticamente -->
        <div class="carousel-inner">

            <div class="background-fixed carousel-item active h-700" id="seul">  <!-- item activo de carousel (active = el primero) -->
                <div class="container">
                    <p class="display-1">Seul</p>
                    <p class="h3 my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, iure?</p> 
                    <a href="#" class="btn btn-lg btn-primary rounded-pill">read more</a>
                </div>

            </div>  
            <div class="background-fixed carousel-item h-700" id="tokyo">
                <div class="container">
                    <p class="display-1">Tokyo</p>
                    <p class="h3 my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, iure?</p>
                    <a href="#" class="btn btn-lg btn-primary rounded-pill">read more</a>
                </div>
            </div>
            <div class="background-fixed carousel-item h-700" id="toronto">
                <div class="container">
                    <p class="display-1">Toronto</p>
                    <p class="h3 my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, iure?</p>
                    <a href="#" class="btn btn-lg btn-primary rounded-pill">read more</a>
                </div>
            </div>
            <div class="background-fixed carousel-item h-700" id="sydney">
                <div class="container">
                    <p class="display-1">Sydney</p>
                    <p class="h3 my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, iure?</p>
                    <a href="#" class="btn btn-lg btn-primary rounded-pill">read more</a>
                </div>
            </div>

        </div>
        <a href="#MyCarousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>                                               <!-- las flechitas del carousel -->
            <span class="carousel-control-prev-icon" aria-hiddem="true"></span>
        </a>
        <a href="#MyCarousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="sr-only">Next</span>                                                   <!-- las flechitas del carousel -->
            <span class="carousel-control-next-icon" aria-hiddem="true"></span>
        </a>
    </div>
</div>
<!-- carousel -->

<!-- acerca de nosotros -->
<div class="bg-primary mb-5 h-700">
    <div class="row h-100">
        <div class="col-5 m-lg-4 m-md-3 m-sm-0 background-fixed" id="about-us"></div>  <!-- m-lg-4 m-md-3 m-sm-0 son los breakpoints -->
        <div class="col-5 m-lg-4 m-md-3 h-75 text-white">
            <p class="display-1 mb-5">about us</p>
            <p class="h4 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, consequuntur?</p>
            <a href="#" class="rounded-pill bg-light btn btn-lg float-right mt-5">Read more</a>
        </div>
    </div>
</div>
<!-- acerca de nosotros -->


<!-- menciones -->
<div class="d-flex justify-content-center align-items-center">
    <p class="display-1 mt-5"> mentions</p>
</div>

<div class="row justify-content-center">

    <div class="col-xl-3 col-md-5 col-sm-9 col-9 m-2 m-lg-4 bg-dcdcdc shadow-lg rounded-lg h-75">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-quote m-5" viewBox="0 0 16 16">
            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
        </svg>
        <p class="mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sed alias reprehenderit nisi cum ab mollitia facilis iusto modi odit!</p>
        <div class="container d-flex align-content-center justify-content-center">
            <img src="../static/images/estudiante1.png" alt="estudiante" class="m-5 rounded-circle shadow-lg">
        </div>
    </div>

    <div class="col-xl-3 col-md-5 col-sm-9 col-9 m-2 m-lg-4 bg-dcdcdc shadow-lg rounded-lg h-75">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-quote m-5" viewBox="0 0 16 16">
            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
        </svg>
        <p class="mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sed alias reprehenderit nisi cum ab mollitia facilis iusto modi odit!</p>
        <div class="container d-flex align-content-center justify-content-center">
            <img src="../static/images/estudiante2.png" alt="estudiante" class="m-5 rounded-circle shadow-lg">
        </div>
    </div>

    <div class="col-xl-3 col-md-5 col-sm-9 col-9 m-2 m-lg-4 bg-dcdcdc shadow-lg rounded-lg h-75">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-quote m-5" viewBox="0 0 16 16">
            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
        </svg>
        <p class="mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sed alias reprehenderit nisi cum ab mollitia facilis iusto modi odit!</p>
        <div class="container d-flex align-content-center justify-content-center">
            <img src="../static/images/estudiante3.png" alt="estudiante" class="m-5 rounded-circle shadow-lg">
        </div>
    </div>

</div>
<!-- menciones -->


{% endblock %}