{% extends 'layout_footer.html' %}

{% block title %}tuxchange{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{{url_for('static', filename='CSS/index_style.css')}}">
{% endblock %}

{% block body %}

<!-- cartelera -->
<div class="background-fixed h-700 bg-blend-mode" 
    style=" background-image: url({{countries[2].landscape_img}});">
    <div class="ml-4 d-flex">
        <img src="../static/images/Tux_Mono.png" alt="logo de tuxchange" class="m-3">
        <h1 class="m-3 text-white">TuXchange</h1>
    </div>

    <div class="d-flex justify-content-center align-items-center p-5 h-75">
        <p class=" display-4 text-white">Making unforgettable memories while studying</p> <!-- el colmo -->
    </div>
</div>
<!-- cartelera -->

<!-- seccion de programas -->
<div class="row mr-0 ml-0 d-flex justify-content-between align-items-center align-content-center">

    <div class="col-xl-5 col-lg-6 m-md-0 ml-xl-5 text-center align-content-center">
        <div class="row mr-0 ml-0 align-content-center h-100">
            <p class="col-12 display-3 mt-3 border-bottom border-secondary">Check out our programs</p>
            <p class="col-12 h3 text-center mt-md-5">Check out our various exchange programs designed to suit your
                academic needs and cultural preferences.</p>
        </div>
    </div>

    <div class="col-xl-5 col-lg-6 bg-primary text-white m-xl-5 m-lg-0 m-md-0 m-sm-0 pb-sm-5 pb-4 pt-5">
        <ul>
            <li class="h4 my-lg-5 my-md-3">program for software development students</li>
            <li class="h4 my-lg-5 my-md-3">program for tourism and hostelry students</li>
            <li class="h4 my-lg-5 my-md-3">program for electrical engineering students</li>
            <li class="h4 my-lg-5 my-md-3">program for medicine students</li>
        </ul>
        <a href="/programs" class="btn btn-lg bg-light rounded-pill float-right py-1 px-2">Read more</a>
    </div>

</div>
<!-- seccion de programas -->

<!-- carousel -->
<div class="d-flex justify-content-center text-center mt-5">
    <p class="display-3">Popular destinies</p> <!-- titulo carousel -->
</div>
<div class="text-white mb-5">
    <div id="MyCarousel" class="carousel slide" data-ride="carousel">
        <!-- data-ride hace que el carousel pase de item automaticamente -->
        <div class="carousel-inner">

            {% for country in countries %}
                {% if country.id == 1 %}
                    <div class="background-fixed carousel-item active h-700 bg-blend-mode" 
                        style="background-image:url('{{imagenes[country.id-1]}}');">
                        <div class="container">
                            <p class="display-3">{{ country.name }}</p>
                            <p class="h3 my-3">{{ country.brief_description}}</p>
                            <a href="/country/{{country.id-1}}" class="btn btn-lg btn-primary rounded-pill">Read more</a>
                        </div>
                    </div>
                {% elif country.id != 1 %}
                    <div class="background-fixed carousel-item h-700 bg-blend-mode" 
                        style="background-image: url('{{imagenes[country.id-1]}}');">
                        <div class="container">
                            <p class="display-3">{{ country.name }}</p>
                            <p class="h3 my-3">{{ country.brief_description}}</p>
                            <a href="/country/{{country.id-1}}" class="btn btn-lg btn-primary rounded-pill">Read more</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a href="#MyCarousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="sr-only">Previous</span> <!-- las flechitas del carousel -->
            <span class="carousel-control-prev-icon" aria-hiddem="true"></span>
        </a>
        <a href="#MyCarousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="sr-only">Next</span> <!-- las flechitas del carousel -->
            <span class="carousel-control-next-icon" aria-hiddem="true"></span>
        </a>
    </div>
</div>
<!-- carousel -->

<!-- acerca de nosotros -->
<div class="bg-primary mb-5">
    <div class="row mr-0 ml-0 h-100">
        <div class="col-xl-5 col-md-0 m-lg-4 m-md-3 m-sm-0 background-fixed" id="about_us"></div>  <!-- m-lg-4 m-md-3 m-sm-0 son los breakpoints -->
        <div class="col-xl-5 col-md-10 m-lg-4 m-md-3 h-75 text-white">
            <p class="display-1 mb-5">about us</p>
            <p class="h4 mb-2">At TuXchange, we believe that the world is better when people try to
                understand one another. Since 2020, TuXchange has helped millions of people see new places,
                experience new cultures, and learn new things about the world and about themselves.</p>
            <a href="about_us" class="rounded-pill bg-light btn btn-lg float-right my-2">Read more</a>
        </div>
    </div>
</div>
<!-- acerca de nosotros -->

<!-- menciones -->
<div class="d-flex justify-content-center align-items-center">
    <p class="display-3 mt-5"> mentions</p>
</div>

<div class="row mr-0 ml-0 justify-content-center">

    <div class="col-xl-3 col-md-5 col-sm-9 col-9 m-2 m-lg-4 bg-dcdcdc shadow-lg rounded-lg h-75">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-quote m-5"
            viewBox="0 0 16 16">
            <path
                d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
        </svg>
        <p class="mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sed alias reprehenderit nisi
            cum ab mollitia facilis iusto modi odit!</p>
        <div class="container d-flex align-content-center justify-content-center">
            <img src="../static/images/estudiante1.png" alt="estudiante" class="m-5 rounded-circle shadow-lg">
        </div>
    </div>

    <div class="col-xl-3 col-md-5 col-sm-9 col-9 m-2 m-lg-4 bg-dcdcdc shadow-lg rounded-lg h-75">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-quote m-5"
            viewBox="0 0 16 16">
            <path
                d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
        </svg>
        <p class="mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sed alias reprehenderit nisi
            cum ab mollitia facilis iusto modi odit!</p>
        <div class="container d-flex align-content-center justify-content-center">
            <img src="../static/images/estudiante2.png" alt="estudiante" class="m-5 rounded-circle shadow-lg">
        </div>
    </div>

    <div class="col-xl-3 col-md-5 col-sm-9 col-9 m-2 m-lg-4 bg-dcdcdc shadow-lg rounded-lg h-75">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-quote m-5"
            viewBox="0 0 16 16">
            <path
                d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
        </svg>
        <p class="mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sed alias reprehenderit nisi
            cum ab mollitia facilis iusto modi odit!</p>
        <div class="container d-flex align-content-center justify-content-center">
            <img src="../static/images/estudiante3.png" alt="estudiante" class="m-5 rounded-circle shadow-lg">
        </div>
    </div>

</div>
<!-- menciones -->

{% endblock %}