{% block custom_css %}
<link rel="stylesheet" href="{{url_for('static', filename='CSS/nav_style.css')}}">
{% endblock %}

{% block nav %}
<nav class="navbar-light navbar-expand-lg bg-light sticky-top w-100">
    <button class="navbar-toggler bg-light border-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="nav navbar-collapse nav-fill bg-light text-dark border-top border-bottom border-dark flex-column flex-sm-row">
          <li class="nav-item btn flex-fill">
              <a href="/"><img class="img-fluid" src="..\static\images\Tux_Mono.png"></a>
          </li>
          <li class="nav-item btn flex-fill">
            <a class="nav-link text-dark mt-1" href="/programs">Programs</a>
          </li>
          <li class="nav-item btn flex-fill">
            <a class="nav-link text-dark mt-1" href="/inscriptions">Inscriptions</a>
          </li>
          <li class="nav-item btn flex-fill">
            <a class="nav-link text-dark mt-1" href="/about-us">About us</a>
          </li>
      </ul>
    </div>
</nav>
{% endblock %}

{% block body %}
{% endblock %}

{% include "layout_footer.html" %}