<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block custom_css %}
    {% endblock %}
</head>

<body>
    {% block nav %}
    {% endblock %}

    <footer class="mx-auto row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="d-flex flex-column align-items-center col-4">
            <h5>COMUNICATE CON NOSOTROS</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary link-dark ">Instagram</a>
                </li>
                <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Twitter</a></li>
                <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Facebook</a></li>
                <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Linkedin</a></li>
            </ul>
        </div>

        <div class="d-flex flex-column col-8">
            <h5 class="mx-auto">¿DÓNDE ESTAMOS?</h5>
            <div class="d-flex flex-row">

                <div class="d-flex align-items-center col mb-3">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">RÍO CUARTO, CÓRDOBA</li>
                        <li class="nav-item mb-1">Paunero 660</li>
                        <li class="nav-item mb-1">Centro</li>
                    </ul>
                </div>

                <div class="d-flex align-items-center col mb-3">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">GENERAL CABRERA, CÓRDOBA</li>
                        <li class="nav-item mb-1">Santiago Del Estero 332</li>
                        <li class="nav-item mb-1">Alberdi</li>
                    </ul>
                </div>
                <div class="d-flex align-items-center col mb-3">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">BUENOS AIRES</li>
                        <li class="nav-item mb-1">Alvear 264</li>
                        <li class="nav-item mb-1">Palermo</li>
                    </ul>
                </div>
            </div>

        </div>

    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>