{% block nav %}
<nav>
    <ul class="nav nav-fill flex-column flex-sm-row bg-light text-dark sticky-top">
        <li class="nav-item border-right border-dark">
            <a class="nav-link flex-sm-fill text-dark" href="#">Introducción</a>
        </li>
        <li class="nav-item">
            <a class="nav-link flex-sm-fill text-dark" href="#">Becas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link flex-sm-fill text-dark" href="#">Inscripción</a>
        </li>
        <li class="nav-item">
            <a class="nav-link flex-sm-fill text-dark" href="#">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link flex-sm-fill text-dark" href="#">Testimonios</a>
        </li>
    </ul>
</nav>
{% endblock %}

