{% block custom_css %}
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-between">
  <a class="h1 mt-2" href="/">TuXchange</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExample05">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="btn pisingaio" href="/programs">Programs</a>
      </li>
      <li class="nav-item">
        <a class="btn pisingaio" href="/inscriptions">Inscriptions</a>
      </li>
      <li class="nav-item">
        <a class="btn pisingaio" href="/about_us">About Us</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block body %}
{% endblock %}

{% include "layout_footer.html" %}